<h1>Report</h1><p>
<h3>Found 1 SingleApp Configuration(s):</h3><p>User Name: DESKTOP-PVQ75KN\ksktest</p>User SID: S-1-5-21-4107154509-1415768808-3585720741-1014</p>AUMID: Microsoft.WindowsNotepad_8wekyb3d8bbwe!App</p>
</p><p>
<h3>Found 1 ShellLauncher Configuration(s):</h3><p>User: S-1-5-21-4107154509-1415768808-3585720741-1014</p>Shell: C:\ProgramFiles\MicrosoftOffice\root\Office16\powerpnt.exe/SD:\WSLPres.pptx</p>AppType: Win32</p>
</p><p>
<h3>Profile {20193171-A630-4A72-8ED6-0CF7B8834E06} of type Multi-App Kiosk has the following allowed apps:</h3><p>1) Microsoft.WindowsNotepad_8wekyb3d8bbwe!App | UWP App</p><h3>And is assigned to the following accounts:</h3><p>1) Local User:  with ID S-1-5-21-4107154509-1415768808-3585720741-1014</p>
</p><h1>

Problems found:
</h1>- <p>A provisioning error was found - if the time doesn't correspond to the issue or is from too long ago it's likely irrelevant</p><p>    Time        2022-04-12 14:14:32.273</p><p>    Error        0x80040112</p>- <p>Application Microsoft.WindowsNotepad_8wekyb3d8bbwe!App was not found in Get-StartApps output. Check if it is installed or otherwise if the AUMID is correctly spelled</p>
