{% extends "base.html" %}
{% block title %} Kiosk Assistant Documentation {% endblock %}
{% block content %}
<div style="direction:ltr;border-width:100%">
    <div>
        <div>
            <p data-darkreader-inline-color="" style="margin: 0in; line-height: 36pt; font-size: 10pt; color: red; --darkreader-inline-color:#ff1a1a;"><span style='font-family:"Segoe UI Semibold"'>Note:</span><span style='font-family:
"Segoe UI"'> Kiosk Assistant is an </span><span style='font-weight:bold;
text-decoration:underline;font-family:"Segoe UI"'>INTERNAL ONLY</span><span style='font-family:"Segoe UI"'> tool. It is developed by a Support Escalation Engineer in Windows Commercial Support, and is not authorized for distribution to anyone outside of Windows Commercial Support.</span></p>
            <p data-darkreader-inline-color="" style='margin: 0in; line-height: 38pt; font-family: "Segoe UI"; font-size: 10pt; color: red; --darkreader-inline-color:#ff1a1a;'></p><hr>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt"><a href="/download"><img src="/static/dlBt.png"/></a></p>  
            </br>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">KioskAssistant is a UI tool that facilitates the creation Multi-App Kiosk environments. Its purpose is to speed up the configuration of XML files as well as prevent any mistakes by employing thorough checks and automatic XML Formatting. This is ideal for setting up test environments. </p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">To use, simply extract and make sure you have .NET Desktop Runtime 7 installed: <a href="https://dotnet.microsoft.com/en-us/download/dotnet/7.0">Download .NET 7.0 (Linux, macOS, and Windows) (microsoft.com)</a></p>
            </br>            
            <p style="margin:0in;font-family:Calibri;font-size:14.0pt"><span style="text-decoration:underline">Usage</span></p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">The main window is split into the<span data-darkreader-inline-color="" style="color: red; --darkreader-inline-color:#ff1a1a;"> Accounts View</span> and the <span data-darkreader-inline-bgcolor="" data-darkreader-inline-bgimage="" data-darkreader-inline-color="" style="color: yellow; background: silver; --darkreader-inline-color:#ffff1a; --darkreader-inline-bgimage: initial; --darkreader-inline-bgcolor:#3c4143;">Application Profiles</span> view &ndash; to generate an XML you need to have at least one of each, then associate them with each-other</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in"><img src="/static/ka1.png"></p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">An account can be a Local User/Group, AD User/Group, AAD User/Group, Global Profile or AutoLogonAccount. Each account will need to have one application profile associated with it (it can be the same application profile for one or more accounts). </p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">To add an account, use the buttons on the left view. Click &quot;Add Application Profile&quot; to begin configuring the Kiosk profiles.</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">The Application Profile Window is split as follows:</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in"><img src="/static/ka2.png"></p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p data-darkreader-inline-color="" style="margin: 0in; font-family: Calibri; font-size: 11pt; color: rgb(0, 176, 80); --darkreader-inline-color:#51ffa0;">- UWP Application List</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">- <span data-darkreader-inline-color="" style="color: rgb(222, 235, 246); --darkreader-inline-color:#c0daee;">Win32 Application Panel</span></p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">- <span data-darkreader-inline-color="" style="color: rgb(75, 172, 198); --darkreader-inline-color:#5ab3cb;">Link file Panel</span></p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">- <span data-darkreader-inline-color="" style="color: rgb(128, 100, 162); --darkreader-inline-color:#8c73ab;">Group Configuration</span></p>
            <p data-darkreader-inline-color="" style="margin: 0in; font-family: Calibri; font-size: 11pt; color: rgb(112, 48, 160); --darkreader-inline-color:#a468d2;">&nbsp;</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">An application profile needs at least an App Group (Start Menu Group). To create a group, you need to select at least 1 Application to allow. </p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">To allow an <span data-darkreader-inline-color="" style="color: rgb(0, 176, 80); --darkreader-inline-color:#51ffa0;">UWP Application</span>, simply tick the box corresponding to it.</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">To allow a <span data-darkreader-inline-color="" style="color: rgb(222, 235, 246); --darkreader-inline-color:#c0daee;">Win32 Application</span>, click the Add button above the pannel and select an executable (.exe file)</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">To add an <span data-darkreader-inline-color="" style="color: rgb(222, 235, 246); --darkreader-inline-color:#c0daee;">Win32 Application</span> application to a start menu group, it needs to be associated with a <span data-darkreader-inline-color="" style="color: rgb(75, 172, 198); --darkreader-inline-color:#5ab3cb;">Link (.lnk) file. </span>To add a <span data-darkreader-inline-color="" style="color: rgb(75, 172, 198); --darkreader-inline-color:#5ab3cb;">Link (.lnk) file</span> click the Add button above its panel.</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">Note: The .lnk file needs to point back to an .exe that was already added to the Win32 panel. If no corresponding .exe can be found, the app will notify you and the link won&apos;t be added.</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in"><img src="/static/ka3.png"></p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">Once you have selected your applications, you can organize them in App Groups. Click the <span data-darkreader-inline-color="" style="color: rgb(128, 100, 162); --darkreader-inline-color:#8c73ab;">Add and Configure App Group </span>button. </p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">Multi-App Groups work the same as start menu groups &ndash; they can have a maximum of 24 Cells (6x4). The App Group Window will contain a preview that shows you the placement of each tile you add according to its size and column/row:</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in"><img src="/static/ka4.png"></p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in"><img src="/static/ka5.png"></p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in"><img src="/static/ka6.png"></p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">Trying to place a tile at an invalid position is not possible and you will be notified to adjust.</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">After you&apos;ve finished the group, click &quot;Finish&quot; to go back to the App Profile screen. You will now see the group in the list. Leftover applications will remain allowed and they can be added to a different group. Applications that are not added to any group will still be allowed but will not be shown on the start menu.</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in"><img src="/static/ka7.png"></p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">Once you have your groups settled you can configure additional settings via the tickboxes in the upper middle or an auto-launch app with arguments [optional]. </p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">The Profile can then be saved with an automatically generated GUID (visible in the upper left) and will be displayed on the main screen.</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in"><img src="/static/ka8.png"></p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">The App Profile now needs to be associated with a user account (or more). Here I am creating a Global Profile and also adding an AD Group CONTOSO\AssignedAccess.</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in"><img src="/static/ka9.png"></p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">To save the XML, all accounts need to be assigned an Application Profile. To assign, select the account(s) and the application profile, and click the &lt; &gt; button:</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in"><img src="/static/ka10.png"></p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in"><img src="/static/ka11.png"></p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">Now you can Generate the XML. Here is the XML Generated from the configuration above:</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <textarea readonly rows="51" cols="220">
                <?xml version="1.0" encoding="utf-8"?>
                <AssignedAccessConfiguration xmlns:v2="http://schemas.microsoft.com/AssignedAccess/201810/config" xmlns:v3="http://schemas.microsoft.com/AssignedAccess/2020/config" xmlns="http://schemas.microsoft.com/AssignedAccess/2017/config">
                <Profiles>
                    <Profile Id="{BB9573B1-7237-482C-B485-EDCA5A035BBE}">
                    <AllAppsList>
                        <AllowedApps>
                        <App AppUserModelId="Microsoft.GetHelp_8wekyb3d8bbwe!App" />
                        <App AppUserModelId="Microsoft.WindowsAlarms_8wekyb3d8bbwe!App" />
                        <App AppUserModelId="microsoft.windowscommunicationsapps_8wekyb3d8bbwe!microsoft.windowslive.mail" />
                        <App AppUserModelId="Microsoft.WindowsMaps_8wekyb3d8bbwe!App" />
                        <App DesktopAppPath="C:\Program Files\Git\cmd\git-gui.exe" />
                        <App AppUserModelId="onesupport.crm.dynamics.com-14B462C0_3g24qzzjcvnft!App" />
                        <App AppUserModelId="Microsoft.MicrosoftEdge_8wekyb3d8bbwe!MicrosoftEdge" />
                        <App AppUserModelId="Microsoft.WindowsCamera_8wekyb3d8bbwe!App" />
                        </AllowedApps>
                    </AllAppsList>
                    <StartLayout><![CDATA[<LayoutModificationTemplate xmlns:defaultlayout="http://schemas.microsoft.com/Start/2014/FullDefaultLayout" Version="1" xmlns:start="http://schemas.microsoft.com/Start/2014/StartLayout" xmlns="http://schemas.microsoft.com/Start/2014/LayoutModification">
                        <LayoutOptions StartTileGroupCellWidth="6" />
                        <DefaultLayoutOverride>
                            <StartLayoutCollection>
                            <defaultlayout:StartLayout GroupCellWidth="6">
                                <start:Group Name="My Group #1">
                                <start:Tile Size="4x2" Column="2" Row="2" AppUserModelID="Microsoft.GetHelp_8wekyb3d8bbwe!App" />
                                <start:Tile Size="4x2" Column="2" Row="0" AppUserModelID="Microsoft.WindowsAlarms_8wekyb3d8bbwe!App" />
                                <start:Tile Size="1x1" Column="0" Row="0" AppUserModelID="microsoft.windowscommunicationsapps_8wekyb3d8bbwe!microsoft.windowslive.mail" />
                                <start:Tile Size="1x1" Column="1" Row="0" AppUserModelID="Microsoft.WindowsMaps_8wekyb3d8bbwe!App" />
                                </start:Group>
                                <start:Group Name="App Group">
                                <start:DesktopApplicationTile Size="2x2" Column="0" Row="0" DesktopApplicationLinkPath="C:\ProgramData\Microsoft\Windows\Start Menu\Programs\Git\Git GUI.lnk" />
                                <start:Tile Size="2x2" Column="2" Row="0" AppUserModelID="onesupport.crm.dynamics.com-14B462C0_3g24qzzjcvnft!App" />
                                <start:Tile Size="2x2" Column="0" Row="2" AppUserModelID="Microsoft.MicrosoftEdge_8wekyb3d8bbwe!MicrosoftEdge" />
                                </start:Group>
                            </defaultlayout:StartLayout>
                            </StartLayoutCollection>
                        </DefaultLayoutOverride>
                        </LayoutModificationTemplate>
                    ]]>
                    </StartLayout>
                    <Taskbar ShowTaskbar="false" />
                    </Profile>
                </Profiles>
                <Configs>
                    <v3:GlobalProfile Id="{BB9573B1-7237-482C-B485-EDCA5A035BBE}" />
                    <Config>
                    <UserGroup Type="ActiveDirectoryGroup" Name="CONTOSO\AssignedAccess" />
                    <DefaultProfile Id="{BB9573B1-7237-482C-B485-EDCA5A035BBE}" />
                    </Config>
                </Configs>
                </AssignedAccessConfiguration>
            </textarea>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">&nbsp;</p>
            <p style="margin:0in;font-family:Calibri;font-size:11.0pt">The XML can then be applied using the <a href="/kioskmdm">KioskMDM</a> script</p>
        </div>
    </div>
</div>
{% endblock %}