{% extends "base.html" %}
{% block title %} Kiosk Checks {% endblock %}

{% block content %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
	<style>
		body { text-align: center; }
	</style>	
	<p>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class=flashes>
					{% for message in messages %}
						<h6>{{ message }}</h6>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</p>
	<form method="post" action="/" enctype="multipart/form-data">
		<dl>
			<p>
				<input style="text-align:center" size="26" type="text" class="text-line" placeholder="Case or AR Number (Optional)" name="caseno" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
				<br/><br/>
				<input type="button" id="loadLogFolder" value="Upload LogonLog Folder" onclick="document.getElementById('logfolder').click();" />
				<input type="file" style="display:none;" id="logfolder" name="files[]" value ="Drag Here" multiple="true" autocomplete="off" webkitdirectory>
				<input type="button" id="loadLogFolder" value="Upload ETL Trace" onclick="document.getElementById('etltrace').click();" />
				<input type="file" style="display:none;" accept=".etl" id="etltrace" name="file" value ="Drag Here" multiple="true" autocomplete="off">
				<br/><br/>
				<input size="250" type="submit" value="A N A L Y Z E" name="submit">
			</p>
		</dl>		    
	</form>
	<br/><br/>
	<div class="center" style="width:100px;height:60px;border:1px solid #dddddd;">
		<p>
			<small>Report an Issue</small>
			<br/>	
			<a href="mailto:fldanila@microsoft.com?subject=KioskChecks Issue"><img src="/static/mailico.png" /></a>
			<a href="sip:fldanila@microsoft.com"><img src="/static/imico.png" /></a>
		</p>
	</div>
	</br>
	<a href="https://learn.microsoft.com/en-us/troubleshoot/windows-client/windows-troubleshooters/introduction-to-troubleshootingscript-toolset-tssv2" target="_blank"> Download TSSv2</a>
	<hr>
	<section class="accordion">
		<input type="checkbox" name="collapse" id="handle1">
			<h2 class="handle">
				<label for="handle1">How To</label>
			</h2>
			<div class="content">
				<p>1. After collecting logs using ".\TSSv2.ps1 -Start -UEX_Logon", the output should look like this:</p><br/>
				<img src="..\static\howto1.PNG"><br/><br/>
				<p>2. Upload the LogonLog-yyyy-mm-dd folder using the first button</p><br/>
				<img src="..\static\howto2.PNG"/><br/><br/>
				<p>3. Upload the .etl file with the second button (if applicable/needed)</p><br/>
				<img src="..\static\howto3.PNG"/><br/><br/>
				<p>4. Click analyze to parse the files and download the report.</p>
			</div>
	</section>
{% endblock %}
